*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  /* font-size: 100%;
  vertical-align: baseline; */
}
body {
  line-height: 1;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

ol,
ul {
  list-style: none;
}

.nav-link {
  width: 100%;
  display: block;
}

.nav-link-active {
  width: 100%;
  display: block;
}
